main {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  justify-items: center;
  position: relative;
}

main h1 {
  visibility: hidden;
  position: absolute;
}

iframe {
  width: 100%;
}

.video-wrapper {
  background: #1e1e29;
  margin-bottom: 1rem;
}

.video-info {
  position: relative;
  display: flex;
  align-items: center;
  color: var(--dustyWhite);
}

.video-desc-wrap {
  padding: 1rem;
  z-index: 10;
}

.video-desc-wrap h2 {
  margin: 0;
}

#video-desc {
  z-index: 1000;
}

.num-system {
  position: absolute;
  right: 0.5rem;
  opacity: 0.1;
  font-size: 8.5rem;
  margin-bottom: 0;
  padding-bottom: 0;
  color: lightgray;
  transition: all 250ms ease-in-out;
}

.honorable-mentions {
  font-family: var(--teko);
  position: relative;
  clip-path: inset(0 0);
  min-height: 100vh;
}

.honorable-mentions::before {
  content: "Honorable mentions";
  display: block;
  color: var(--mediumBlue);
  text-align: center;
  font-size: 4rem;
  font-weight: 100;
  text-transform: uppercase;
}

.inner-wrap {
  background: #1e1e29;
  color: var(--mediumBlue);
  text-align: center;
  display: grid;
  grid-template-columns: 1fr repeat(4, 1fr) 1fr;
  padding-bottom: 2rem;
}

.honorable-mentions h2 {
  margin: 0;
  padding: 1rem 0 0;
  font-weight: 100;
  font-size: 3rem;
  text-transform: uppercase;
  color: grey;
  text-align: center;
  grid-column: 1 / -1;
  margin-bottom: 2rem;
}

.honorable-mentions h2::after {
  content: "";
  display: block;
  height: 2px;
  background: var(--mediumBlue);
  width: 50%;
  margin-top: -0.8rem;
  margin-left: auto;
  margin-right: auto;
}

.artist-slot {
  color: white;
  z-index: 2000;
  font-family: var(--montserrat);
  height: auto;
  padding: 0 0.2rem;
  transition: all 150ms ease-in-out;
  position: relative;
}

#one {
  grid-column: 2 / -2;
}

#two {
  grid-column: 2 / 4;
}

#three {
  grid-column: 4 / 6;
}

.record-menu {
  position: relative;
}

.record-menu-open {
  color: grey;
  padding: 0.2rem 0;
  text-align: center;
  font-size: 1.8rem;
  cursor: pointer;
  border-top: 1px solid rgba(128, 128, 128, 0.158);
  transition: all 150ms ease;
  width: 100%;
}

.record-menu-open:hover {
  background: rgba(128, 128, 128, 0.103);
}

.side-view {
  display: none;
  padding: 0.2rem;
  opacity: 0;
  transition: transform 150ms ease;
  transform: translateY(100%);
}

.show {
  display: flex;
  opacity: 1;
  transform: translateY(0);
}

.side-view h3 {
  display: none;
}

.side-view-img-wrap {
  width: 50%;
  transition: outline 150ms ease;
  cursor: pointer;
}

.side-view-img-wrap img {
  display: block;
  padding: 0.2rem;
  width: 100%;
}

.side-view-img-wrap:hover {
  outline: 2px solid #114e84ad;
}

.img-wrap {
  z-index: 100;
}

.img-wrap img {
  width: 100%;
  object-fit: cover;
  display: block;
}

/*? INJECTED MARKUP */

.artist-info-inner-wrap {
  background: rgba(150, 150, 150, 0.05);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  height: auto;
}

.artist-info-inner-wrap * {
  margin: 0;
}

.artist-span {
  right: 0;
  margin: 0 0 0 0.2rem;
  text-transform: uppercase;
  color: rgb(197, 197, 197);
}

.extra-info {
  display: flex;
  justify-content: center;
  color: var(--mediumBlue);
  align-items: center;
  background: #2a2a35;
}

.release-info,
.record-info {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  text-transform: uppercase;
  color: grey;
  padding: 1rem;
  width: 100%;
}

.release-info {
  border-right: 1px solid rgba(128, 128, 128, 0.137);
}

.record-artist-name {
  font-size: 1.4rem;
  margin-top: 0.5rem;
  padding: 1rem;
  background: var(--mediumBlue);
}

.record-span,
.release-span {
  font-size: 0.7rem;
  color: white;
  font-weight: 100;
  margin-top: 0;
  margin-left: 0.5rem;
  text-transform: initial;
}

.artist-num {
  opacity: 0.2;
  font-size: 4rem;
  position: absolute;
  right: 20px;
  top: -15px;
  color: grey;
  z-index: 1000;
}

.artist-record-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.record-tracklist-styling {
  text-align: center;
  text-transform: uppercase;
}

.record-tracklist {
  background: #24242f;
  padding: 1.5rem 1rem;
}

.record-tracklist-styling div {
  margin: 0.5rem;
  font-size: 0.9rem;
}

.tracklist-num {
  color: #1f5585;
}

/*? ///////////////////// */

.special {
  color: var(--mediumBlue);
  opacity: 0.8;
}

@media (min-width: 700px) {
  main {
    margin-left: auto;
    padding: 1rem;
  }

  .video-wrapper {
    width: 100%;
    margin-bottom: 2rem;
    margin-left: auto;
  }

  .video-wrapper:first-child {
    margin-top: 1rem;
  }

  iframe {
    margin-left: auto;
    height: 350px;
    padding: 0.5rem;
  }

  .video-info {
    padding: 0.5rem;
    font-size: 1.2rem;
  }

  .num-system {
    right: 1rem;
    font-size: 9.5rem;
  }
}

@media (min-width: 950px) {
  main {
    position: relative;
    padding-top: 5rem;
  }

  main h1 {
    font-family: var(--teko);
    font-weight: 100;
    font-size: 12rem;
    text-transform: uppercase;
    text-align: center;
    visibility: unset;
    position: absolute;
    text-orientation: sideways;
    writing-mode: vertical-lr;
    color: white;
    color: var(--mediumBlue);
    opacity: 0.8;
    margin-left: 0;
    text-align: center;
    left: -10%;
    top: -0.5rem;
    height: 100%;
  }

  .video-wrapper {
    width: 85%;
    margin-bottom: 4rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
  }

  iframe {
    margin-left: auto;
    width: 100%;
    float: left;
  }

  .num-system {
    position: absolute;
    top: -9rem;
  }

  .video-info {
    height: 100%;
    width: 50%;
  }

  .honorable-mentions {
    overflow: hidden;
    gap: 0 1rem;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 1rem 0.5rem;
  }

  .side-view {
    display: unset;
    width: 50%;
    padding: 1.2rem 0.5rem;
    border: 1px solid rgba(221, 221, 221, 0.11);
    background: #1e1e29;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem 0;
  }

  .side-view-img-wrap {
    width: 100%;
  }

  .side-view-img-wrap img {
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .inner-wrap {
    flex-grow: 1;
    border: 1px solid rgba(221, 221, 221, 0.11);
  }

  .artist-slot {
    display: flex;
    flex-direction: column;
  }

  .artist-info-wrap {
    border: 1px solid cyan;
    padding: 1rem;
  }
}
