// :root {
//     --darkGrey: #323243;
//     --silentGrey: #fafafa33;
//     --dustyWhite: #fafafac2;
//     --white: #f9f9f9;
//     --gold: #ffd700;
//     --darkBlue: #0d1321;
//     --darkRed: #874444;
//     --mediumBlue: 
// }

$background: #0d1321;
$highlight-blue: #114e84;
$text-font: "Montserrat", sans-serif;
$title-font: "Teko", sans-serif;


* {
    box-sizing: border-box;
}

body {
    background: $background;
    margin: 0;
    padding: 0;
    font-family: $text-font;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

//? SCROLLBAR
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: $highlight-blue;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    width: 20px;
}


//? NAVIGATION
nav {
    background: gold;
    display: flex;
    align-items: center;
    border-top: 3px solid $highlight-blue;
    border-bottom: 3px solid $highlight-blue;
    justify-content: space-between;

    .logo {
        margin: 0 1rem;
        text-decoration: none;
        color: white;
        font-weight: 700;
        font-size: 3rem;
        font-family: $title-font;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        /* -webkit-text-stroke: 1px rgba(0, 0, 0, 0.123); */
    }

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: flex;
        justify-content: center;
        z-index: 1000;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        position: fixed;
        background: white;
        visibility: hidden;
        transition: all 150ms ease-in;
        transform: translateY(-100%);

        li {
            font-size: 1.2em;
            font-weight: 700;
            cursor: pointer;
            margin-left: 1.5rem;
            margin-right: 1em;
            padding: 0;
            pointer-events: none;

            &:last-child {
                margin-right: 0.5em;
            }
        }

        a {
            color: $highlight-blue;
            background: none;
            margin: 0;
            transition: all 100ms ease-in-out;
            text-decoration: none;
            font-size: 6rem;
            font-weight: 400;
            font-family: $title-font;
            transition: color 120ms ease-in-out;
            pointer-events: initial;

            &:hover,
            .current {
                color: $highlight-blue;
            }
        }

        
    }

    .menu-social-media {
        visibility: hidden;
        position: absolute;

         a {
             color: $highlight-blue;
             margin-left: 0.8rem;
             font-size: 2.5rem;

             &:hover {
                 color: #114e84da;
             }
         }
    }

    .social-media-visible {
        visibility: unset;
        z-index: 1000;
        bottom: 3rem;
        right: 3rem;
    }


    .burger-menu {
        z-index: 1000;
        cursor: pointer;
        margin-right: 0.5rem;
        transition: all 100ms ease-in-out;

        .menu-bar {
            height: 2px;
            width: 40px;
            background: $highlight-blue;
            display: block;
            margin: 0.5rem;
            margin-left: auto;
            pointer-events: none;
            transition: all 100ms ease-in-out;
        }
    }

    .rotate-one {
        transform: translateY(5px) rotate(45deg);
    }

    .rotate-two {
        transform: translateY(-5px) rotate(-45deg);
    }

    .menu-active {
        visibility: unset;
        transform: translate(0);
    }

    .scroll {
        overflow: hidden;
    }

    .burger-padding {
        transform: translateX(-10px);
    }
}







