* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #0d1321;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: #114e84;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  width: 20px;
}

nav {
  background: gold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 3px solid #114e84;
  border-bottom: 3px solid #114e84;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .logo {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 3rem;
  font-family: "Teko", sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  /* -webkit-text-stroke: 1px rgba(0, 0, 0, 0.123); */
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: flex;
      -ms-flex-align: flex;
          align-items: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  position: fixed;
  background: white;
  visibility: hidden;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

nav ul li {
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
  margin-left: 1.5rem;
  margin-right: 1em;
  padding: 0;
  pointer-events: none;
}

nav ul li:last-child {
  margin-right: 0.5em;
}

nav ul a {
  color: #114e84;
  background: none;
  margin: 0;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
  text-decoration: none;
  font-size: 6rem;
  font-weight: 400;
  font-family: "Teko", sans-serif;
  -webkit-transition: color 120ms ease-in-out;
  transition: color 120ms ease-in-out;
  pointer-events: initial;
}

nav ul a:hover,
nav ul a .current {
  color: #114e84;
}

nav .menu-social-media {
  visibility: hidden;
  position: absolute;
}

nav .menu-social-media a {
  color: #114e84;
  margin-left: 0.8rem;
  font-size: 2.5rem;
}

nav .menu-social-media a:hover {
  color: #114e84da;
}

nav .social-media-visible {
  visibility: unset;
  z-index: 1000;
  bottom: 3rem;
  right: 3rem;
}

nav .burger-menu {
  z-index: 1000;
  cursor: pointer;
  margin-right: 0.5rem;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

nav .burger-menu .menu-bar {
  height: 2px;
  width: 40px;
  background: #114e84;
  display: block;
  margin: 0.5rem;
  margin-left: auto;
  pointer-events: none;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

nav .rotate-one {
  -webkit-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
}

nav .rotate-two {
  -webkit-transform: translateY(-5px) rotate(-45deg);
          transform: translateY(-5px) rotate(-45deg);
}

nav .menu-active {
  visibility: unset;
  -webkit-transform: translate(0);
          transform: translate(0);
}

nav .scroll {
  overflow: hidden;
}

nav .burger-padding {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
/*# sourceMappingURL=index.css.map */