:root {
  --background: #0d1321;
  --darkGrey: #323243;
  --silentGrey: #fafafa33;
  --dustyWhite: #fafafac2;
  --white: #f9f9f9;
  --gold: #ffd700;
  --darkBlue: #0d1321;
  --darkRed: #874444;
  --mediumBlue: #114e84;
  --montserrat: "Montserrat", sans-serif;
  --teko: "Teko", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--background);
  margin: 0;
  padding: 0;
  font-family: var(--montserrat);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: var(--mediumBlue);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  width: 20px;
}

/*? ---- NAVIGATION ----*/
nav {
  background: rgba(0, 0, 0, 0.233);
  display: flex;
  align-items: center;
  /* border-top: 1px solid var(--mediumBlue); */
  /* border-bottom: 2px solid var(--mediumBlue); */
  justify-content: space-between;
  position: fixed;
  width: 100%;
  /* height: auto; */
  top: 0;
  z-index: 10000;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  color: var(--dustyWhite);
  /* height: 80px; */
    font-family: var(--teko);
    cursor: pointer;
    z-index: 1000;
}

.logo-writing {
  margin: 0;
  padding-left: 5px;
  /* height: 100%; */
  display: block;
  /* border-left: 5px solid var(--gold); */
}

.inner-logo-wrapper {
  display: flex;
  flex-direction: column;
  font-size: large;
  font-weight: 100;
  margin-top: 12px;
  margin-left: .3rem;
  color: var(--dustyWhite);
}
.inner-logo-wrapper > span {
  margin-bottom: -10px;
}

.logo {
  display: flex;
  padding-left: .2rem;
  text-decoration: none;
  color: var(--white);
  font-size: 3rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* .logo::before {
  content: "";
  display: block;
  position: absolute;
  background: var(--gold);
  width: 5px;
  height: 10px;
  margin-top: 50px;
} */

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1000;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  position: fixed;
  background: var(--white);
  visibility: hidden;
  transition: all 150ms ease-in;
  transform: translateX(-100%);
}

.menu-active {
  visibility: unset;
  transform: translate(0);
}

.scroll {
  overflow: hidden;
}

.burger-padding {
  transform: translateX(-10px);
}

nav ul li {
  line-height: 5.2rem;
  font-size: 1.2em;
  font-weight: 700;
  cursor: pointer;
  margin-left: 1.5rem;
  margin-right: 1em;
  padding: 0;
  pointer-events: none;
}

nav ul li:last-child {
  margin-right: 0.5em;
}

nav ul a {
  color: var(--darkBlue);
  background: none;
  margin: 0;
  transition: all 100ms ease-in-out;
  text-decoration: none;
  font-size: 6rem;
  font-weight: 400;
  font-family: var(--teko);
  pointer-events: initial;
}

nav ul a:hover,
.current {
  color: var(--mediumBlue);
}

.burger-menu {
  z-index: 1000;
  cursor: pointer;
  margin-right: 1.2rem;
  transition: all 100ms ease-in-out;
}

.menu-bar {
  height: 2px;
  width: 40px;
  background: var(--mediumBlue);
  display: block;
  margin: 0.5rem;
  margin-left: auto;
  pointer-events: none;
  transition: all 100ms ease-in-out;
}

.rotate-one {
  transform: translateY(5px) rotate(45deg);
}

.rotate-two {
  transform: translateY(-5px) rotate(-45deg);
}

.menu-social-media {
  display: flex;
  margin-left: 1rem;
  margin-top: 2rem;
}

.menu-social-media a {
  color: var(--mediumBlue);
  margin-left: 1rem;
  font-size: 2.5rem;
}

.menu-social-media a:hover {
  color: #114e84da;
}

.social-media-visible {
  visibility: unset;
  z-index: 1000;
  right: 3rem;
}

@media (min-width: 800px) {
  /* .burger-menu {
      margin-right: 0.5rem;
  } */
  .logo {
      margin-left: 1rem;
  }
  nav ul {
    align-items: center;
  }

  .menu-social-media {
    margin-top: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .menu-social-media a {
    font-size: 3rem;
  }
}

/*? --- HERO - MAIN SECTION ---- */

.hero-content {
  display: flex;
  flex-direction: column;
  margin: auto;
    /* overflow-x: hidden; */
    position: relative;
  /* background: linear-gradient(to bottom, #18243f, #0B101B 10%); */
}

.featured-artist-title {
  display: block;
  padding-top: 25px;
}

.featured-video {
  display: block;
  margin: auto;
  margin-bottom: 1.8rem;
  width: 95%;
  border: 0.5px solid #162852;
  animation: fade-in 0.3s linear;
}

.hero-content-featured {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  /* overflow-x: hidden; */
  /* margin-bottom: 10rem; */
}

/* .hero-content-featured::before {
  content: "";
  position: absolute;
  height: 110%;
  width: 110%;
  top: -40%;
  left: -5%;
  z-index: -1;
  background: #114e841a;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
} */


.hero-content h1 {
  color: var(--white);
  font-size: 3.5rem;
  align-self: center;
  margin-top: 2rem;
  font-family: var(--teko);
  font-weight: 400;
  margin-bottom: 2.5rem;
  animation: fade-in 0.2s linear;
}

.hero-content h1::after {
  content: "";
  background: var(--mediumBlue);
  height: 2px;
  display: block;
  width: 50%;
  margin-top: -1.5rem;
  margin-left: auto;
}

.hero-content p {
  color: var(--white);
  align-content: center;
}

.hero-description {
  width: 90%;
  color: var(--white);
  border-top: 1px solid var(--gold);
  margin: auto;
  font-size: 1rem;
  padding: 1rem 0 2rem;
  animation: fade-in 0.6s linear;
}

.hero-description p {
  text-transform: uppercase;
  margin: 0.5rem;
}

.hero-description span {
  color: var(--gold);
}

@keyframes fade-in {
  from {
    opacity: 0.5;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 600px) {
  .hero-content-featured {
    padding: 0 1rem;
    position: relative;
  }

  .hero-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 1.1rem;
  }

  .featured-video {
    max-width: 600px;
    min-width: 500px;
  }
}

@media (min-width: 700px) {
  .hero-content-featured {
    padding: 0 2rem;
  }

  .hero-description {
    font-size: 1.2rem;
  }
}
@media (min-width: 1850px) {

  .hero-content {
    height: 100vh;
  }

  .featured-artist-title {
    display: block;
    text-align: right;
    width: 100%;
  }
.featured-video-wrapper {
  display: flex;
    align-items: center;
  }


  .featured-video {
  margin-left: 5rem;
    margin-right: 2rem;
  }

    .hero-description {
      margin-left: 500px;
      flex-direction: column;
      border: none;
      /* background-color: rgba(0, 0, 0, 0.233); */
    }

    .hero-description {
      font-family: var(--teko);
      font-size: 2.5rem;
      margin: 0;
    }
}

.svg-hexagon {
  /* position: absolute; */
  /* bottom: -10px;
  right: 50px; */
  width: 100px;
  /* transform: rotate(10deg); */
  z-index: -1;
  /* overflow: hidden; */
}
.svg-hexagon svg{
  animation: svgEffect 10s forwards infinite;
    width: 100px;
}

.svg-hexagon svg:first-child {
    position: absolute;
  bottom: 90px;
  right: 40px;
  /* opacity: .2; */
  /* background-color: orange; */
  --time: 30s;
    animation: svgEffect var(--time) forwards infinite;
   /* animation: svgEffect 150ms linear; */
}

.svg-hexagon svg:nth-child(2) {
    position: absolute;
  bottom: 0px;
  right: 25px;
  opacity: .2;
  /* background-color: #114e84; */
  --time: 30s;
    animation: svgEffect var(--time) forwards infinite;
   /* animation: svgEffect 150ms linear; */
}

.svg-hexagon svg:nth-child(3) {
    position: absolute;
  bottom: 5px;
  right: 130px;
  width: 50px;
  /* background-color: pink; */
  opacity: .2;
  --time: 30s;
    animation: svgEffect var(--time) forwards infinite;
   /* animation: svgEffect 150ms linear; */
}

.svg-hexagon svg:nth-child(4) {
    position: absolute;
  bottom: 40px;
  right: 100px;
  /* background-color: red; */
  opacity: .5;
  --time: 60s;
    animation: svgEffect var(--time) forwards infinite;
   /* animation: svgEffect 150ms linear; */
}



@keyframes svgEffect {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*? ---- SECONDARY SECTION ---- */

.releases-section {
  margin: auto;
  margin-bottom: 2.5em;
  background: #0b101b;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.latest-releases {
  color: var(--white);
  font-size: 4.5rem;
  font-weight: 100;
  padding: 0;
  margin: 1rem 0 0;
  font-family: var(--teko);
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
}

.latest-releases::before {
  content: "";
  width: 70%;
  height: 2px;
  position: absolute;
  bottom: 0px;
  margin-bottom: 1.5rem;
  background: var(--mediumBlue)
}

.latest-releases-date {
  font-family: var(--teko);
  display: block;
  text-align: center;
  color: var(--dustyWhite);
  margin-top: -25px;
  font-size: 2rem;
}

.slider-wrapper {
  border-right: 1px solid rgba(255, 255, 255, 0.041);
  padding: 3rem 0 0;
}

.slider-wrapper:last-child {
  border-right: none;
}

.overall-wrapper {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding: 1rem;
}

.item-wrapper {
  min-width: 380px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(to bottom, #1a1a22, #47475e);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 5rem;
  /* border-radius: 5px; */
  position: relative;
  clip-path: inset(-100px 0px 0px 0px);
  z-index: 1;
}

.item-wrapper.effect {
  animation: fade-effect 0.6s linear;
}

@keyframes fade-effect {
  from {
    opacity: 0.5;
    transform: translateY(8%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.item-wrapper img {
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
}

.img-wrapper {
  border-top: 5px solid gold;
  border-bottom: 3px solid gold;
  padding-top: 1em;
  padding-bottom: 1em;
  object-fit: cover;
}

.sub-wrapper {
  top: -80px;
  position: relative;
  z-index: 10;
  margin-bottom: -2rem;
}

.sub-wrapper a {
  display: block;
  border-radius: 2px;
  margin: auto;
  margin-top: 2em;
  text-decoration: none;
  color: var(--white);
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  font-weight: 100;
  text-transform: uppercase;
  background: #333346;
  padding: 1rem 0.2rem;
  transition: background 120ms ease-in;
  border-top: 1px solid rgba(211, 211, 211, 0.2);
  border-bottom: 1px solid rgba(211, 211, 211, 0.15);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  position: relative;
  clip-path: inset(0);
}

.sub-wrapper a::after {
  content: "";
  height: 50%;
  width: 100%;
  background: #515168a1;
  opacity: 0.3;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.sub-wrapper a:hover,
.sub-wrapper a:focus {
  background: var(--darkRed);
}

.sub-wrapper h4 {
  margin: 0;
  margin-top: 0;
  color: var(--gold);
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 300;
}

.sub-wrapper h3 {
  margin: 1.5rem 0 0;
  color: var(--dustyWhite);
  font-size: 1.3rem;
  text-transform: uppercase;
}

.sub-wrapper p {
  color: #ddd;
  padding: 1rem 0;
  line-height: 1.4rem;
}

/* .sevendust-record {
  height: 386px;
  width: 386px;
} */


@media (min-width: 600px) {
  .releases-section {
    width: 100%;
    padding: 0.5rem 5rem;
      /* background-color: #404055; */
      /* overflow: hidden; */
  }

  .latest-releases {
    font-size: 6.5rem;
  }

  .overall-wrapper {
    /* display: flex;
    flex-wrap: wrap; */
    margin: 0;
  }

  .item-wrapper {
    max-width: 450px;
    /* margin: 0; */
    /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.233); */
  }
}

@media (min-width: 700px) {
  .overall-wrapper {
    margin: auto;
    /* margin-top: 100px; */
  }

  .releases-section {
    padding: 1rem;
    
  }

  .item-wrapper {
    min-width: 350px;
    /* margin: 10px; */
  }

   /* .sevendust-record {
     height: 286px;
     width: 286px;

   } */
}

@media (min-width: 1200px) {

    .slider-wrapper:first-child {
        transform: translateY(30px);
      }
    .slider-wrapper:nth-child(2) {
        transform: translateY(-50px);
      }
    .slider-wrapper:nth-child(3) {
        transform: translateY(30px);
      }
    .slider-wrapper:last-child {
        transform: translateY(-50px);
      }
}

/*? ---- BOTTOM SECTION ---- */

.reviews-section {
  display: flex;
  flex-direction: column;
  color: var(--white);
  padding-bottom: 5em;
  position: relative;
}

.review-pic {
  margin-right: 2em;
  align-self: center;
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
  object-position: center;
}

.rev-img-wrapper {
  height: auto;
  min-width: 150px;
  max-width: 100px;
  margin-right: 1rem;
  visibility: hidden;
  position: absolute;
}

.reviews {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  padding: 1em;
  border: 1px solid rgba(250, 250, 250, 0.2);
  margin-bottom: 1em;
  position: relative;
  clip-path: inset(0);
}

.fa-quote-right,
.material-icons {
  font-size: 4.5rem;
  color: rgba(226, 226, 226, 0.068);
  width: 100%;
  text-align: right;
  position: absolute;
  z-index: 1000;
  bottom: 110px;
  right: 20px;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-icons.md-48 {
  font-size: 200px;
  position: absolute;
  right: -25px;
  top: 0px;
  color: rgba(226, 226, 226, 0.062);
}

.reviews-title {
  margin: auto;
  padding: 0;
  font-size: 4.5em;
  font-family: var(--teko);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: 400;
  text-align: center;
  margin-bottom: 2.5rem;
}

.reviews-title::after {
  content: "";
  display: block;
  background: var(--mediumBlue);
  height: 2px;
  width: 50%;
  margin-top: -1.5rem;
  margin-left: auto;
}

.reviewer-name {
  margin-top: 0;
  font-size: 1.3rem;
  margin-bottom: 0;
}

.reviewer-title {
  font-weight: 300;
  margin-top: 0;
  color: var(--gold);
}

.reviewer-review {
  margin: auto;
  padding: 0.5rem 0 1rem;
}

.expand-more-content {
  visibility: hidden;
  position: absolute;
  margin-top: 0;
  transition: height 150ms ease;
}

.reviewer-review,
.expand-more-content {
  font-size: 0.9rem;
}

.reviews-section-text {
  margin-bottom: 0;
}

.post-details {
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.post-details:last-child {
  margin-right: 0;
}

.post-details span {
  font-family: var(--montserrat);
  color: var(--gold);
}

.post-details p {
  font-size: 0.8em;
  text-align: center;
}

.post-details p span {
  margin-right: 0.2rem;
}

.post-details i span {
  color: var(--white);
  text-align: center;
  margin-left: 0.2rem;
}

.read-more-wrap {
  background: rgba(211, 211, 211, 0.1);
  text-align: center;
  cursor: pointer;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  font-family: var(--teko);
  font-size: 2.2rem;
  letter-spacing: 0.1rem;
  transition: all 100ms ease-in-out;
}

.read-more-wrap:hover {
  background: rgba(211, 211, 211, 0.2);
}

.read-more-wrap .read-more {
  margin: 0;
  padding: 0;
  pointer-events: none;
  z-index: 1000;
  color: var(--dustyWhite);
  word-spacing: 0.1rem;
  text-decoration: none;
  color: var(--gold);
  font-size: 0.8em;
  padding-right: 1rem;
  background: none;
  font-family: var(--teko);
  align-self: center;
  border: none;
  color: white;
}

.show-text {
  visibility: unset;
  position: relative;
}

.read-more i {
  font-size: 1rem;
  margin-left: 0.5rem;
  align-self: center;
  transition: rotate 2s ease-in-out;
}

.read-more-icon-effect {
  transform: rotate(180deg);
}

.far {
  color: var(--gold);
  align-self: center;
  margin-right: 1rem;
  font-size: 0.8rem;
}

.back-to-top {
  display: flex;
  cursor: pointer;
  position: absolute;
  bottom: 1rem;
  right: 1.5rem;
  color: rgba(250, 250, 250, 0.76);
  align-items: center;
  text-decoration: none;
  transition: all 150ms ease-in-out;
  padding: 1rem;
  font-family: var(--teko);
  font-weight: 100;
}

.back-to-top i {
  pointer-events: none;
  margin-left: 0.5rem;
}

.back-to-top,
.back-to-top i {
  font-size: 1.5rem;
}

.back-to-top:hover {
  color: var(--white);
  transform: scale(1.2);
}

@media (min-width: 750px) {
  .reviews-section {
    padding: 1rem;
  }

  .reviews-overall-wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
  }

  .reviews-title {
    font-size: 6rem;
  }

  .reviews {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin-bottom: 2rem;
    flex-direction: row;
  }

  .reviews:nth-of-type(3) {
    margin-bottom: 3rem;
  }

  .reviews-overall-wrapper {
    align-self: center;
    margin: 3rem;
  }

  .rev-img-wrapper {
    visibility: unset;
    position: relative;
    z-index: 100;
  }

  .post-details {
    position: absolute;
    top: 0;
    right: 0;
  }

  .post-details .far {
    margin-left: 1rem;
  }

  .expand-more-content {
    visibility: unset;
    position: relative;
  }

  .read-more-wrap {
    visibility: hidden;
    position: absolute;
  }

  .back-to-top {
    font-size: 2rem;
  }
}

/*? ---- FOOTER ---- */

footer {
  background: var(--mediumBlue);
  color: var(--white);
      padding: 1rem 0;
}

footer .logo-wrapper {
  margin: 0 auto;
  padding: 1rem 0 0;
  margin-bottom: 0;
  justify-content: center;
}

.footer-wrap p {
  margin: 0;

}

/* .footer-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  padding: 0 0 1rem;
} */  

.footer a {
  text-decoration: none;
  color: white;
}

.bottom-links,
.bottom-links-wrap p {
  text-align: center;
  padding: 1rem 0 0.5rem;
}

.bottom-links-wrap p {
  font-size: 0.8rem;
  margin-top: 0;
}

.bottom-links {
  padding-bottom: 0;
}

.follow ul {
  display: flex;
  font-size: 2em;
  margin: 0 auto;
  padding: 0.8em;
  margin: 0.8rem 0 0.5rem;
  margin: auto;
  justify-content: space-around;
  width: 80%;
}

.terms {
  border-right: 1px solid var(--white);
  padding-right: 1rem;
}

.subscribe {
  margin-left: 0.5rem;
}
