body {
  background: #0d1321;
  overflow-x: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

.page-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(95%);
          transform: translateX(95%);
}

.display-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0c385f;
  padding: 1rem .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.788);
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  z-index: 10000;
}

.display-toggle:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: white;
}

.player-overall-wrapper {
  background: #114e84;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
  display: none;
}

.player-overall-wrapper .artist-img-wrapper {
  width: 100%;
  height: 40vh;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  -webkit-transition: height 150ms ease;
  transition: height 150ms ease;
}

.player-overall-wrapper .artist-img-wrapper img {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.295)), to(white));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.295), white);
  opacity: .8;
}

.player-overall-wrapper .artist-img-wrapper.img-display-toggle {
  visibility: hidden;
  height: 8vh;
}

.player-overall-wrapper .progress-bar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  height: 8px;
  width: 100%;
  cursor: pointer;
}

.player-overall-wrapper .progress-bar-wrapper .progress-bar {
  background: #0d375ca4;
  height: 8px;
}

.player-overall-wrapper .outer-control-wrapper {
  position: relative;
  z-index: 100;
}

.player-overall-wrapper .outer-control-wrapper .fa-arrows-alt-v {
  position: absolute;
  top: 20px;
  right: 10px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.player-overall-wrapper .outer-control-wrapper .song-title {
  font-family: "Teko", sans-serif;
  display: block;
  background: #062441;
  color: rgba(255, 255, 255, 0.801);
  color: white;
  padding: .2rem 0;
  font-size: 2rem;
  position: absolute;
  width: 100%;
  z-index: -1;
  -webkit-transition: all 180ms ease;
  transition: all 180ms ease;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate(-100%, -100%);
          transform: translate(-100%, -100%);
}

.player-overall-wrapper .outer-control-wrapper .song-title.show {
  -webkit-transform: translate(0, -100%);
          transform: translate(0, -100%);
  opacity: .9;
}

.player-overall-wrapper .outer-control-wrapper .song-title .artist-name {
  color: lightgray;
}

.player-overall-wrapper .outer-control-wrapper .controls {
  position: relative;
  color: white;
  padding: 1rem;
  width: 30%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 200;
}

.player-overall-wrapper .outer-control-wrapper .controls button {
  all: unset;
  padding: .5rem .8rem;
  background: #103F6B;
  color: white;
  cursor: pointer;
  -webkit-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}

.player-overall-wrapper .outer-control-wrapper .controls button:hover {
  background: white;
  color: #114e84;
}

.player-overall-wrapper .outer-control-wrapper .controls .fas {
  pointer-events: none;
}

.player-overall-wrapper .song-menu-wrapper {
  background: #0e3d66;
  overflow: hidden;
  text-align: right;
  cursor: pointer;
}

.player-overall-wrapper .song-menu-wrapper span {
  color: white;
  margin-right: .5rem;
  padding: .2rem 0;
  display: block;
  -webkit-transition: color 120ms ease-in-out;
  transition: color 120ms ease-in-out;
  z-index: 10;
}

.player-overall-wrapper .song-menu-wrapper span:hover {
  color: orange;
}

.player-overall-wrapper .song-menu-wrapper .song-menu {
  background: #273046;
  color: white;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 0;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.player-overall-wrapper .song-menu-wrapper .song-menu span {
  display: unset;
  color: #c9c9c9;
  margin-left: .3rem;
}

.player-overall-wrapper .song-menu-wrapper .song-menu span:hover {
  color: #c9c9c9;
}

.player-overall-wrapper .song-menu-wrapper .song-menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .5rem;
  border-bottom: 1px solid rgba(192, 192, 192, 0.068);
  cursor: pointer;
  -webkit-transition: background 120ms ease;
  transition: background 120ms ease;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

.player-overall-wrapper .song-menu-wrapper .song-menu div:last-child {
  border-bottom: none;
}

.player-overall-wrapper .song-menu-wrapper .song-menu div:hover {
  background: #2c3650;
}

.player-overall-wrapper .song-menu-wrapper .song-menu div:hover i {
  color: orange;
}

.player-overall-wrapper .song-menu-wrapper .song-menu div * {
  pointer-events: none;
}

.player-overall-wrapper .song-menu-wrapper .song-menu i {
  margin-right: .5rem;
  font-size: 1.2rem;
  -webkit-transition: color 120ms ease;
  transition: color 120ms ease;
}

.player-overall-wrapper .song-menu-wrapper .show-menu {
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
  height: auto;
}
/*# sourceMappingURL=music-player.css.map */