*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  color: #fff;
  font-family: var(--montserrat);
  min-height: 100vh;
  /* height: 100vh; */
}

header {
  /* display: grid;
  place-content: center; */
  text-align: center;
  height: 40vh;
  border-bottom: 1px solid var(--mediumBlue);
}

h1 {
padding-top: 2rem;
  font-size: 6vw;
  display: block;
}

form{
  max-width: 700px;
  margin: auto;
  text-align: center;
}

#mc_embed_signup {
  display: flex;
  justify-content: center;
  background: #fff;
  position: relative;
  height: 50vh;

}

form {
  text-align: left;
  width: 100%;
  margin-top: -60px;
  position: absolute;
  color: grey;
  display: block;
  padding: 2rem;
  background: #1c2d57;
  border-radius: 2px;
  border: 1px solid var(--mediumBlue);
  max-width: 700px;
}

form #mc_embed_signup_scroll {
  color: #fff;
  margin: 2rem 0 1rem;
  padding: 1rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.2rem;
}

.indicates-required {
  font-size: 0.8rem;
  text-align: right;
  margin-top: 0;
  position: absolute;
  top: 15px;
  right: 20px;
}

.button {
  all: unset;
  margin: auto;
  display: block;
  cursor: pointer;
  background: #fff;
  padding: 0.5rem 1rem;
  color: #1c1c1c;
  border-radius: 2px;
  width: 30%;
  text-align: center;
  margin-top: 1.5rem;
  font-weight: 700;
  letter-spacing: .1rem;
}

.mc-field-group {
  margin-bottom: 1rem;
  /* margin: auto; */
}

.mc-field-group label {
  margin-right: 1rem;
  display: block;
  margin-bottom: .5rem;
}

.mc-field-group input {
  width: 100%;
  padding: 0.5rem;
  background: #8997b9;
  border: none;
}
