* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #fff;
  font-family: var(--montserrat);
  min-height: 100vh;
  background: #fff;
  background: linear-gradient(91deg, #2d2d5d 0%, #011332 100%),
  url("https://images.unsplash.com/photo-1526554850534-7c78330d5f90?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80");
}

header {
  text-align: center;
  height: 40vh;
  border-bottom: 1px solid var(--mediumBlue);
  background-blend-mode: multiply;
}

h1 {
  padding-top: 2rem;
  font-size: 2.5rem;
  display: block;
  width: 80%;
  margin: auto;
  text-align: left;
  margin-bottom: 0;
}

header span {
  display: block;
  margin-top: 0;
  font-size: 2rem;
}

#mc_embed_signup {
  display: flex;
  justify-content: center;
  position: relative;
  height: 50vh;
  padding: 2rem;
  margin-bottom: 5rem;
}

form {
  text-align: left;
  width: 100%;
  margin: -100px auto 0;
  position: absolute;
  color: grey;
  display: block;
  padding: 2rem;
  background: #192f55;
  border-radius: 2px;
  border-top: .5px solid rgba(255, 255, 255, 0.158);
  border-bottom: .5px solid rgba(255, 255, 255, 0.062);
  max-width: 700px;
  box-shadow: 0 1px 20px 5px rgba(0,0,0,.5);
}

@media (min-width: 800px) {

  h1,
  header span {
    font-size: 8vh;
  }

  h1 {
    width: 100%;
    max-width: 500px;
    font-size: 8vh;
    text-align: left;
    padding-top: 1rem;
  }

  header span {
    display: block;
    text-align: right;

  }

  #mc_embed_signup {
    background: #fff;
  }
}

#mc_embed_signup_scroll {
  color: #fff;
  margin: 2rem 0 1rem;
  padding: 1rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 1.2rem;
}

.indicates-required {
  font-size: 0.8rem;
  text-align: right;
  margin-top: 0;
  position: absolute;
  top: 15px;
  right: 20px;
}

.button {
  all: unset;
  margin: auto;
  display: block;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.76);
  padding: 0.5rem 1rem;
  color: #1c1c1c;
  border-radius: 2px;
  width: 30%;
  text-align: center;
  margin-top: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  transition: all 150ms ease-in-out;
  border: 1px solid #29417e;
}

.button:hover {
  background: white;
}

.mc-field-group {
  margin-bottom: 1rem;
}

.mc-field-group label {
  margin-right: 1rem;
  display: block;
  margin-bottom: 0.5rem;
}

.mc-field-group input {
  width: 100%;
  padding: 0.5rem;
  background: #8997b9;
  border: none;
  color: #fff;
}

#mce-EMAIL {
  text-align: left;
}

#mce-EMAIL,
#mce-NAME {
  transition: all 100ms ease-in;
  border-radius: 2px;
}

#mce-EMAIL:focus,
#mce-NAME:focus {
  background: white;
}

.mce_inline_error {
  font-size: 1rem;
  margin-top: 0;
  text-align: left;
  color: white;
  display: block;
}

form label .asterisk {
  font-size: .8rem;
  vertical-align: super;
}

#mce-error-response,
#mce-success-response {
  color: white;
  padding: .5rem 1rem;
  border-radius: 2px;
  text-align: center;
  transition: 1s;
  animation: responseMessage 1s forwards;
}

#mce-error-response {
  background: #891818;
}

#mce-error-response a {
  color: white;
  font-size: .9rem;
}

#mce-success-response {
  background: var(--mediumBlue);
}

@keyframes responseMessage {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
} 