* {
  box-sizing: border-box;
}

body {
  background: #070a11;
  color: white;
}

nav {
  background: black;
  border: none;
}

.container-wrapper,
.division {
  height: 100vh;
  width: 100%;
  position: relative;
  background: rgba(128, 128, 128, 0);
}

.container-wrapper {
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.division {
  display: grid;
  place-content: center;
  background-color: grey;
  scroll-snap-align: center;
  overflow-y: hidden;
}

.division-title {
  position: relative;
}

.division-title h1 {
  display: none;
  top: 220px;
  left: 30px;
  padding: 1rem 1.2rem;
  position: absolute;
  opacity: 0.9;
  line-height: 4.2rem;
}

.division .back-to-top-navigation {
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 2000;
}

.division .back-to-top-navigation .far {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: color 120ms linear;
}

.division .back-to-top-navigation .far:hover {
  color: white;
}

.division-title {
  position: relative;
}

.division-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  position: absolute;
  right: 20px;
  top: 20px;
}

.division-links a {
  color: rgba(255, 255, 255, 0.822);
  text-decoration: none;
  font-size: 1.5rem;
  width: max-content;
}

.division-links a:nth-of-type(1) {
  animation: showMenu 250ms ease-in-out;
}
.division-links a:nth-of-type(2) {
  animation: showMenu 350ms ease-in;
}
.division-links a:nth-of-type(3) {
  animation: showMenu 450ms ease-in-out;
}

@keyframes showMenu {
  from {
    opacity: 0.2;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.division-links a::after {
  content: "";
  width: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.76);
  height: 1px;
  margin: 5px auto;
  transition: all 120ms linear;
}

.division-links a:hover::after {
  color: rgb(255, 255, 255);
  background: var(--mediumBlue);
}

.division-links a:hover {
  color: rgba(255, 255, 255, 0.911);
}

@media (min-width: 750px) {
  .division-title h1 {
    display: unset;
    font-size: 5rem;
    font-family: var(--teko);
    font-weight: 100;
  }

  .division-title:not(span) {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.158);
  }

  .division-title h1 > span {
    display: block;
    margin-left: auto;
    background: white;
    color: black;
  }

  .division-links {
    right: 30px;
    top: 50px;
  }

  .division-links a {
    font-size: 1.8rem;
  }
}

@media (min-width: 1000px) {
  .division-title h1 {
    font-size: 7rem;
    line-height: 6rem;
    top: 50px;
    left: 80px;
  }

  .division-links {
    right: 30px;
    top: 100px;
  }

  .division-links a {
    font-size: 2rem;
  }

  .division-links a::after {
    height: 2px;
  }
}

/*? EVENTS CTA */
.events-cta {
  position: absolute;
  left: 0;
  display: flex;
  margin-left: 1rem;
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.164);
}

.events-cta a {
  margin: 0;
  padding: 0.5rem 1rem;
  padding-right: 1rem;
  border-right: 1px solid rgba(192, 192, 192, 0.13);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 120ms linear;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.836);
}

.events-cta a:hover,
.events-cta a:focus {
  background: white;
  color: rgba(0, 0, 0, 0.644);
}

.events-cta a:last-child {
  border-right: none;
}

/*? EVENTS CTA  - END*/

/*? RECORD RELEASE  */

#division-records,
#division-dvds {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0.5rem 1rem;
  height: 100vh;
}

#division-records h2,
#division-dvds h2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 1rem;
  padding: 1rem 1rem 0.5rem 0.2rem;
  border-bottom: 1px solid white;
  z-index: 100;
}

.record-release-info-wrapper,
.dvd-release-info-wrapper {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  width: 95%;
  border-bottom: 1px solid rgba(192, 192, 192, 0.158);
}

.record-release-info-wrapper:hover,
.dvd-release-info-wrapper:hover {
  border-bottom: 1px solid rgba(192, 192, 192, 0.534);
}

.record-cover-wrapper,
.dvd-cover-wrapper {
  width: 100px;
  height: 100px;
  opacity: 0.9;
  margin-right: 1rem;
}

.record-release-info-wrapper,
.record-cover-wrapper,
.dvd-release-info-wrapper,
.dvd-cover-wrapper {
  transition: all 150ms linear;
}

.dvd-release-info-wrapper:hover .dvd-cover-wrapper,
.dvd-release-info-wrapper:hover .dvd-cover-wrapper {
  opacity: 1;
}

.record-cover-wrapper img,
.dvd-cover-wrapper img {
  width: 100%;
}

.record-release-info *,
.dvd-release-info * {
  margin: 0;
}

.record-release-info,
.dvd-release-info {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
  height: 100%;
}

.record-release-info .artist-record-name,
.dvd-release-info .artist-dvd-name {
  align-self: flex-start;
  margin-top: 1rem;
}

.record-release-info .release-date-wrapper,
.dvd-release-info .release-date-wrapper {
  text-align: right;
}

.release-date-wrapper {
  width: 100%;
  font-size: 0.9rem;
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.artist-record-name .band-name,
.artist-dvd-name .band-name {
  color: rgba(255, 255, 255, 0.774);
}

.artist-record-name .record-name,
.artist-dvd-name .dvd-name {
  text-transform: uppercase;
}

@media (min-width: 650px) {

  #division-records,
  #division-dvds {
    flex-flow: wrap;
    flex-direction: row;
    overflow-y: scroll;
  }

   .record-release-info-wrapper,
   .dvd-release-info-wrapper {
     width: 45%;
     margin: 0 1rem;
   }

    .record-release-info .record-name,
     .dvd-release-info .dvd-name {
      font-size: .8rem;
    }

      .release-date-wrapper {
        font-size: .8rem;
      }
}

@media (min-width: 950px) {
  #division-records,
  #division-dvds {
    align-items: stretch;
    padding: 5rem 0 1rem;
    height: 100vh;
  }

  #division-records h2,
  #division-dvds h2 {
    font-size: 2.5rem;
  }

  .record-release-info-wrapper,
  .dvd-release-info-wrapper {
    width: 45%;
    padding: 1rem;
  }

  .release-date-wrapper {
    position: relative;
  }

  .release-date-wrapper::before {
    content: "";
    height: 2px;
    position: absolute;
    display: block;
    width: 50%;
    background: rgba(192, 192, 192, 0.103);
  }

  .release-date {
    margin-top: 5px;
  }

  .record-release-info .band-name,
  .record-release-info .record-name,
  .dvd-release-info .band-name,
  .dvd-release-info .dvd-name {
    font-size: 1rem;
  }

  .release-date-wrapper {
    font-size: 1rem;
  }

  .record-cover-wrapper,
  .dvd-cover-wrapper {
    width: 150px;
    height: 150px;
  }

  .division .back-to-top-navigation {
    top: 15px;
    right: 10px;
  }

  .division .back-to-top-navigation .far {
    font-size: 2.2rem;
  }
}

/*? RECORD RELEASE - END */

.division:nth-of-type(1),
.division:nth-of-type(2),
.division:nth-of-type(3),
.division:nth-of-type(4) {
  background-blend-mode: multiply;
}

.division:nth-of-type(1) {
  background: linear-gradient(82deg, #222222 30%, #ff0000 70%),
    url("https://specials-images.forbesimg.com/imageserve/817875305a124c6095b169a2372465a4/960x0.jpg?fit=scale");
  background-size: cover;
  background-position: top right;
  background-attachment: fixed;
}

.division:nth-of-type(2) {
  background: linear-gradient(82deg, #222222 30%, #00a2ff 70%),
    url("https://images.pexels.com/photos/5723223/pexels-photo-5723223.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-attachment: fixed;
}

.division:nth-of-type(3) {
  background: linear-gradient(82deg, #0d1321 0%, #ff7b00 100%),
    url("https://www.rollingstone.com/wp-content/uploads/2018/06/rs-209038-Maynard_Cane.jpg");
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}

.division:nth-of-type(4) {
  background: linear-gradient(82deg, #222222 0%, #00ffff60 100%),
    url("https://guitar.com/wp-content/uploads/2019/03/mark-tremonti-interview-feature@1400x1050.jpg");
  background-size: cover;
  background-position: top left;
  height: 100vh;
  background-attachment: fixed;
}

.division-title {
  background-color: transparent;
  text-align: center;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar {
  display: none;
}

@media (min-width: 950px) {
  .division:nth-of-type(3) {
    background: linear-gradient(82deg, #0a0f19, #24395f 80%),
      url("https://www.rollingstone.com/wp-content/uploads/2018/06/rs-209038-Maynard_Cane.jpg");
    background-size: 100%;
    background-position: contain;
  }

  .division:nth-of-type(4) {
    background: linear-gradient(82deg, #0a0f19, #003a5c 30%),
      url("https://guitar.com/wp-content/uploads/2019/03/mark-tremonti-interview-feature@1400x1050.jpg");
    background-size: 100%;
    background-position: contain;
  }

  .division:nth-of-type(3),
  .division:nth-of-type(4) {
    background-repeat: no-repeat;
  }
}

.search-bar {
  display: flex;
  margin-top: 3rem;
  padding: 1rem;
}

.search-bar input,
.search-bar button {
  all: unset;
}

.search-bar input {
  margin-right: 0.5rem;
  border-bottom: 1px solid rgba(192, 192, 192, 0.349);
  padding: 0.5rem;
  flex-grow: 2;
  transition: border-bottom 120ms linear;
  font-size: 1.1rem;
}

.search-bar input:focus {
  border-bottom: 1px solid rgba(192, 192, 192, 0.959);
}

.search-bar button {
  background: rgba(192, 192, 192, 0.281);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  flex-grow: 1;
  padding: 0.5rem 1.5rem;
  transition: background 120ms linear;
}

.search-bar button:hover {
  background: rgba(192, 192, 192, 0.596);
}

/*? SOUNDKICK */

.sound-kick {
  text-align: left;
  padding: 0.2rem 1rem;
  margin-top: 1rem;
}

.output-size {
  width: 20%;
  padding: 0.2rem 0.5rem;
}

/*? DOM INJECTION */

#events-output {
  overflow-y: auto;
  overflow: scroll;
  padding: 0 1rem 1rem;
}

.event-info {
  margin: 0.5rem 0;
  background: rgba(255, 255, 255, 0.062);
  padding: 1rem;
}

.event-info:first-child {
  margin: 0;
}

.event-info span {
  color: rgba(255, 166, 0, 0.932);
  margin-right: 0.2rem;
}

.no-tour {
  text-align: center;
}

@media (min-width: 750px) {
  #division-events {
    position: relative;
  }

  .output-size {
    position: absolute;
    bottom: 5px;
    right: 15px;
    width: 15%;
    padding: 0.2rem 0.5rem;
  }

  #events-output {
    width: 800px;
  }
}
