* {
  box-sizing: border-box;
}

body {
  background: none;
  color: white;
}

nav {
  background: black;
  border: none;
}

.container-wrapper,
.division {
  height: 100vh;
  width: 100%;
  position: relative;
  background: rgba(128, 128, 128, 0);
}

.container-wrapper {
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.division {
  display: grid;
  place-content: center;
  background-color: grey;
  scroll-snap-align: center;
}

.division h1 {
  position: absolute;
  bottom: 100px;
  left: 50px;
  border: 2px solid rgba(255, 255, 255, 0.712);
  color: rgba(255, 255, 255, 0.712);
  padding: 1rem 1.2rem;
}

.division .btt {
  position: absolute;
  top: 15px;
  right: 0;
  z-index: 2000;
}

.division .btt .far {
  font-size: 1.8rem;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  transition: color 120ms linear;
}

.division .btt .far:hover {
  color: white;
}

.division-title {
  position: relative;
}

.division-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  position: absolute;
  right: 20px;
  top: 20px;
}

.division-links a {
  color: rgba(255, 255, 255, 0.822);
  text-decoration: none;
  font-size: 1.5rem;
  width: max-content;
}

.division-links a::after {
  content: "";
  width: 100%;
  display: block;
  background: rgba(255, 255, 255, 0.76);
  height: 1px;
  margin: 5px auto;
  transition: all 120ms linear;
}

.division-links a:hover::after {
  color: rgb(255, 255, 255);
  background: var(--mediumBlue);
}

.division-links a:hover {
  color: rgba(255, 255, 255, 0.911);
}

/*? EVENTS CTA */
.events-cta {
  position: absolute;
  right: 0;
  display: flex;
  margin-right: 1rem;
  margin-top: 1rem;
  background: rgba(255, 255, 255, 0.164);
}

.events-cta p {
  margin: 0;
  padding: 0.5rem 1rem;
  padding-right: 1rem;
  border-right: 1px solid rgba(192, 192, 192, 0.13);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 120ms linear;
}

.events-cta p:hover,
.events-cta p:focus {
  background: white;
  color: rgba(0, 0, 0, 0.644);
}

.events-cta p:last-child {
  border-right: none;
}

/*? EVENTS CTA  - END*/

/*? RECORD RELEASE  */

#division-records {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

#division-records h2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 0 1rem;
  padding: 1rem 1rem 0.5rem 0.2rem;
  border-bottom: 1px solid white;
  z-index: 100;
}

.record-release-info-wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto 1rem;
  padding-bottom: 0.5rem;
  width: 95%;
  border-bottom: 1px solid rgba(192, 192, 192, 0.158);
}

.record-release-info-wrapper:hover {
  border-bottom: 1px solid rgba(192, 192, 192, 0.534);
}

.record-cover-wrapper {
  width: 100px;
  height: 100px;
  opacity: 0.9;
  margin-right: 1rem;
}

.record-release-info-wrapper,
.record-cover-wrapper {
  transition: all 150ms linear;
}

.record-release-info-wrapper:hover .record-cover-wrapper {
  opacity: 1;
}

.record-cover-wrapper img {
  width: 100%;
}

.record-release-info * {
  margin: 0;
}

.record-release-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
  flex-grow: 1;
  height: 100%;
}

.record-release-info .artist-record-name {
  align-self: flex-start;
  margin-top: 1rem;
}

.record-release-info .release-date-wrapper {
  text-align: right;
}

.release-date-wrapper {
  width: 100%;
}

/*? RECORD RELEASE - END */

.division:nth-of-type(1),
.division:nth-of-type(2),
.division:nth-of-type(3),
.division:nth-of-type(4),
.division:nth-of-type(5) {
  background-position: center;
  background-blend-mode: multiply;
}

.division:nth-of-type(1) {
  background: linear-gradient(82deg, #222222 30%, #ff0000 70%),
    url("https://specials-images.forbesimg.com/imageserve/817875305a124c6095b169a2372465a4/960x0.jpg?fit=scale");
  background-size: cover;
  background-position: top right;
  background-attachment: fixed;
}

.division:nth-of-type(2) {
  background: linear-gradient(82deg, #222222 30%, #00a2ff 70%),
    url("https://images.pexels.com/photos/5723223/pexels-photo-5723223.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
  background-attachment: fixed;
}

.division:nth-of-type(3) {
  background: linear-gradient(82deg, #222222 30%, #ff7b00 90%),
    url("https://www.rollingstone.com/wp-content/uploads/2018/06/rs-209038-Maynard_Cane.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.division:nth-of-type(4) {
  background: #00ffff60
    url("https://guitar.com/wp-content/uploads/2019/03/mark-tremonti-interview-feature@1400x1050.jpg");
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

.division-title {
  background-color: transparent;
  text-align: center;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar {
  display: none;
}
